In [3]:
import os
import joblib
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(r"..\data\Churn_Modelling.csv")
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
categorical_cols = ['Geography', 'Gender']

X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

label_encoders  = {}

for col in categorical_cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])
    label_encoders[col] = le

In [7]:
processed_data_path = "../data/processed"
os.makedirs(processed_data_path, exist_ok=True)

X_train.to_csv(processed_data_path + "/X_train.csv", index=False)
X_test.to_csv(processed_data_path + "/X_test.csv", index=False)
y_train.to_csv(processed_data_path + "/y_train.csv", index=False)
y_test.to_csv(processed_data_path + "/y_test.csv", index=False)

#save label encoders(for consistency in inference)
joblib.dump(label_encoders, processed_data_path + "/label_encoders.pkl")

print("Processed data and encoders saved successfully")

Processed data and encoders saved successfully